*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

nav img {
    width: 150px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
  
    
}

nav ul li a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    
}

nav ul li a:hover {
    color: #91bee2;
    
}

.Main {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.Home h1 {
    padding: 10px;
    font-size: 38px;
}

.Questions{
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.Questions h1{
    font-size: 38px;
}

.Questions .box{
    width: 480px;
    height: 144px;
}

.Question-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;

}
.Questions-content-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    text-align: justify;
    padding: 30px;
    gap: 40px;
}

.Questions-content-1 h3{
    margin-bottom: 15px;
}

.Questions-content-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    text-align: justify;
    padding: 30px;
    gap: 40px;
}
.Questions-content-2 h3{
    margin-bottom: 15px;
}

.About {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.About h1{
    margin-bottom: 20px;

}

.About .aside {
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 30px;

}

.About .aside h1{
    font-size: 38px;
}

.About .aside h3{
    margin: 10px 0 20px 0;
}

.About .c {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.About .c h3{
    margin: 10px 0 20px 0;
}

.About .c .box {
    width: 700px;
    height: 700px;
    box-shadow: 4px 4px  rgb(0, 0, 0, 0.1);
}

.Contact {
    height: 80vh;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
.Contact h1{
    font-size: 38px;
}

.Contact h2{
    margin: 10px;

}

.form-content{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    justify-content: space-evenly;
    align-items: center;
}
.form-content h3{
    font-size: 30px;
}
.form-content label{
    margin-right: 5px;
    font-size: 20px;
}
.form-content input{
    margin-right: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    transition: border .5s ease;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}
.form-content textarea{
   border: none;
   outline: none;
   border-bottom: 2px solid rgb(0, 0, 0, 0.1);
   transition: border .5s ease;
}
.form-content textarea:focus{

    border-bottom: 2px solid rgb(0, 0, 0, 0.9);
 }

.form-content input:focus{
    border-bottom: 2px solid rgb(0, 0, 0, 0.9);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input{
    width: 300px;

}


.Contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #212121;
    height: 20vh;
    gap: 10px;
    color: antiquewhite;
    font-size: 20px;
}
.Footer .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}
.Footer .social .box{
    width: 40px;
    height: 40px;
    box-shadow: 4px 4px  rgba(255, 255, 255, 0.1);
}
.Footer .social .box:hover{
    cursor: pointer;
}

.Shop-Section {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.Shop-Section h1{
    font-size: 38px;
}

.Card {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    gap: 10px;
    padding: 0 19px 0 0;
    margin: 10px;
    
}
.Card img:hover{
    object-fit: scale-down;
    transform: scale(0.8);
    cursor: pointer;
}

.box {
    background-color: #91bee2;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px  rgb(0, 0, 0, 0.1);
    transition:transform .5s ease
}

.Button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: .2em;
    font-size: 18px;
}

.Button:hover {
    cursor: pointer;
    color: antiquewhite;
    background-color: #212121;
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1.6fr;
    gap: 0px 0px;
}

.shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "a b c"
        "a b c"
        "a b c";
    grid-area: 1 / 1 / 2 / 2;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}
.thanks{
    color: rgb(218, 102, 102);
}

.mapouter {
    position: inherit;
    text-align: right;
    height: 510px;
    width: 770px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 510px;
    width: 770px;
}

.Buy-shoes{
    
}

